<!DOCTYPE html>
<html lang="en">
<head>
  <title>DisClaimer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" >
  <div class="jumbotron">
    <h1 align="center" style="color:red;">
    	<b>
    		<u >
    	Disclaimer
        </u>
    </b>
    </h1>      
    <p>This project is for educational purposes only and the source code shouldn't be use in production as it doesn't have good security, doesn't scale well and lacks many important features.
</p>
  </div>
  <center>
  	<h4>
  		<p>Using the data shown in the presentation in any form may result in legal action by their representative authorities.
  		</p>
  	</h4>        
        <form action="index.html" method="get">
        	<button type="submit" class="btn btn-lg btn-primary" value="submit">I understand and agree</button>
        </center>
        </form>
</div>
</body>
</html>
